body {
    margin: 0;
   text-align: center;
  font-family: 'Merriweather', serif;
  }

  p {
    font-size: 13px;
    }

h1 {
    margin: 50px auto 0 auto;
  /*  font-size: 90px; If  chrome setting of user has large font then it should be dynamic to show. Ideal
  case is 100% which is 16px. To get 90px, caluclate accordingly */
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive ;
    color: #66BFBF;
    }
.product {
           height: 200px;
           border-radius: 504;
           background-size: cover;
           width: 25%;
           float: left;
           border-radius: 100%;
           margin-right: 30px;
         }

/* .code-desc {
            clear: left;
}

.motivate{
          clear: right;
} */

.psychology {
                    height: 200px;
                    border-radius: 504;
                    background-size: cover;
                    width: 25%;
                    float: right;
                    border-radius: 100%;
                    margin-left: 30px;
              }
.naveen {
            height: 200px;
            border-radius: 504;
            background-size: cover;
          }

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

  line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #66BFBF;
    font-weight: bold;
    }

h3 {
    font-family: 'Montserrat', sans-serif ;
    font-size: 15px;
    font-weight: normal;
    color: #11999E;
  }

div {
  background-color: #E4F9F5;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

/* .middle-container {
/*  background-color: red;
  width: 200px;
  height: 200px;*/
/*}

/*.bottom-container {
/*  background-color: blue;
  width: 200px;
  height: 200px; */
/*} */

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50;
}

.footer-link {
  color: #11999E;
}
